#conteneur {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid black

}

.info_ics {
    justify-content: space-around;
    width: 50%;
    padding-left: 0px;
    border:1px solid black
}

#titre_current {
    font-size: xx-large;
}

#action_button{
    display: flex;
    justify-content: space-around;
}

}