#conteneur {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#content{
    display: flex;
    justify-content: space-around;
}

#info_caldav_server {
    justify-content: space-around;

}

#titre_current {
    font-size: xx-large;
}

#action_button{
    display: flex;
    justify-content: space-around;
}
